.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 33vw;
}

.conversation-box {
    background-color: #BED754;
    height: 60vh;
    overflow-y: auto; 
    border-radius: 8px;
    padding: 16px;
    scrollbar-width: none; /* Cacher la scrollbar sur Firefox */
    width: 100%;
}

.conversation-box::-webkit-scrollbar {
    display: none; /* Cacher la scrollbar sur Chrome & Safari */
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


