.message {
    margin-bottom: 16px;
    display: inline-block;
    max-width: 66%;
}

.message:last-of-type {
    margin-bottom: 0;
}

.message-content {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    color: #191919;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: baseline;
}

.message-sent {
    margin-left: auto;
    min-width: 66%;
    
}
