<!-- templates/header.html -->
<header>
    <img src="{{ url_for('static', filename='icon/logo.svg') }}" alt="Logo">
    <nav>
        <a class="ft-link {{ 'ft-link--active' if current_path == url_for('index') }}"
            href="{{ url_for('index') }}">Chat</a>
        {% if current_user.is_authenticated %}
        <a class="ft-link {{ 'ft-link--active' if current_path == url_for('profile') }}"
            href="{{ url_for('profile') }}">Mes infos</a>
        {% else %}
        <a class="ft-link {{ 'ft-link--active' if current_path == url_for('signup') }}"
            href="{{ url_for('signup') }}">M'inscrire</a>
        {% endif %}
    </nav>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">
        <img src="{{ url_for('static', filename='icon/log-out.svg') }}" alt="Log Out">
    </a>
    {% else %}
    <a href="{{ url_for('signin') }}">
        <img src="{{ url_for('static', filename='icon/log-in.svg') }}" alt="Log In">
    </a>
    {% endif %}
</header>