<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href='/static/css/main.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conversation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">

    <title>Chat Flask HETIC</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="mb-2">Chat</h1>
        {% include 'conversation.html' %}
    </div>
</body>

</html>