<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes informations</title>
    <link rel="stylesheet" href='/static/css/main.css' />
    <link rel="stylesheet" href='/static/css/form.css' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="mb-2">Mes infos</h1>
        <form method="POST" action="profile">

            <div class="input-label mb-3">
                <label class="ft-label" for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" value={{ user.username }} />
            </div>

            <button class="mb-1" type="submit">Valider les changements</button>
            <a class="button button--secondary" href="{{ url_for('logout') }}">Se déconnecter</a>

        </form>
    </div>
</body>

</html>