<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href='/static/css/main.css' />
    <link rel="stylesheet" href='/static/css/form.css' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="mb-2">Connexion</h1>
        <form method="POST" action="/signin">

            <div class="input-label mb-2">
                <label class="ft-label" for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Votre adresse e-mail..." />
            </div>

            <div class="input-label mb-2">
                <label class="ft-label" for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Un mot de passe robuste..." />
            </div>

            <div class="f f-column">
                <button class="button--icon mb-1">
                    Se connecter
                    <img src="static/icon/log-in-white.svg" />
                </button>
                <div class="f f-2-buttons">
                    <a class="button button--secondary" href="{{ url_for('signup') }}">Je n'ai pas encore de compte</a>
                    <button class="button--secondary">Mot de passe oublié</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>