<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href='/static/css/main.css' />
    <link rel="stylesheet" href='/static/css/form.css' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1 class="mb-2">Inscription</h1>
        <form method="POST" action="/signup">
            <div class="input-label mb-2">
                <label class="ft-label" for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" placeholder="Votre nom d'utilisateur" />
            </div>

            <div class="input-label mb-2">
                <label class="ft-label" for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Votre addresse e-mail..." />
            </div>

            <div class="input-label mb-3">
                <label class="ft-label" for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Un mot de passe robuste..." />
            </div>

            <div class="f f-column">
                <button class="mb-1">S'inscrire</button>
                <a class="button button--secondary" href="{{ url_for('signin') }}">J’ai déjà un compte</a>
            </div>

        </form>
    </div>

</body>

</html>